@page
@model Neon.CRM.WebApp.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.IsConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.IsConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Customer.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.VacationPackage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.VacationPackage.Title) - @Html.DisplayFor(model => model.Booking.VacationPackage.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
